body{
    background-color: #021b34;
    height: 700px;
    width: 1366px;
    margin: 0px;
    padding: 0px;
}

#chat{
    width:340px;
    background-color: rgba(0,0,0,0.1);
    margin: 7px;
    margin-top: 17px;
    padding: 0px;
    display: block;
    border: solid 7px transparent;
}

#messages {
    width: 300px;
    height: 250px;
    display: block;
    font-family: Armata;
    font-size: 14px;
    line-height: 19px;
    padding: 0 0 15px 0;
    font-weight: lighter;
    word-break: break-all;
}

#msg-container {
    overflow: auto;
    margin: 10px 10px 10px 10px;
}

#messages li{
    list-style: none;
    color: white;
}
#messages li span{ color:#fff6af;}
#messages li span b{
    color: #93ff93;
}

#message-field {
    font-family: Armata;
    background-color:rgba(0,0,0,0.5);
    border:none;
    color:white;
    width: 330px;
    height: 25px;
    padding: 5px;
}

#message-field:focus {
    border-top: solid 5px #d1eaf2;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color:rgba(0,0,0,0.5);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 6px;
    background-color: #002d44;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 6px;
    background-color: #002d44;
    -webkit-border-radius: 6px;
}