body{
    background-color: #021b34;
    margin: 0px;
    padding: 0px;
}

#chat{
    width:340px;
    background-color: rgba(0,0,0,0.1);
    margin: 7px;
    margin-top: 17px;
    padding: 0px;
    display: block;
    border: solid 7px transparent;
}

#messages {
    width: 300px;
    height: 250px;
    display: block;
    font-family: Armata;
    font-size: 12px;
    line-height: 19px;
    padding: 0 0 15px 0;
    font-weight: lighter;

    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

#msg-container {
    overflow: auto;
    margin: 10px 10px 10px 10px;
}

#messages li{
    list-style: none;
    color: white;
}
#messages li span{ color:#fff6af;}
#messages li span b{
    color: #93ff93;
}

#message-field {
    font-family: Armata;
    background-color:rgba(0,0,0,0.5);
    border:none;
    color:white;
    width: 330px;
    height: 25px;
    padding: 5px;
}

#message-field:focus {
    border-top: solid 5px #d1eaf2;
}

#msg-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#msg-container::-webkit-scrollbar-track-piece {
    background-color:rgba(0,0,0,0.5);
    -webkit-border-radius: 6px;
}

#msg-container::-webkit-scrollbar-thumb:vertical {
    height: 6px;
    background-color: #002d44;
    -webkit-border-radius: 6px;
}

#msg-container::-webkit-scrollbar-thumb:horizontal {
    width: 6px;
    background-color: #002d44;
    -webkit-border-radius: 6px;
}